# data
data/raw/*
data/processed/*
*.fastq
*.fastq.gz
*.bam

# python
__pycache__/
*.pyc
.venv/
venv/

# notebooks
.ipynb_checkpoints/

# secrets
.env
*.key
.cache/
*.egg-info/

# small submission/analysis files that SHOULD be on GitHub
!data/processed/af3_batch1/
!data/processed/af3_batch2/
!data/processed/kn5_submission_list.tsv
!data/processed/structure_vdjdb_map.tsv
!data/raw/af3_predictions/
